AbayMVC/AbayMVC/Connected Services/ItemServiceReference/ItemService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ItemService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IItemService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8020/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8020/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8020/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IItemService_CreateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_CreateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItem_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_DeleteItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_UpdateItem_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_UpdateItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateItemResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_SearchItems_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchItems" />
  </wsdl:message>
  <wsdl:message name="IItemService_SearchItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetItemById" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetItemById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetItemByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategories" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllActiveItemsByCategory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveItemsByCategory" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllActiveItemsByCategory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllActiveItemsByCategoryResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItems" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllItemsResponse" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllBidsByItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBidsByItem" />
  </wsdl:message>
  <wsdl:message name="IItemService_GetAllBidsByItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllBidsByItemResponse" />
  </wsdl:message>
  <wsdl:portType name="IItemService">
    <wsdl:operation name="CreateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/CreateItem" message="tns:IItemService_CreateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/CreateItemResponse" message="tns:IItemService_CreateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/DeleteItem" message="tns:IItemService_DeleteItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/DeleteItemResponse" message="tns:IItemService_DeleteItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/UpdateItem" message="tns:IItemService_UpdateItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/UpdateItemResponse" message="tns:IItemService_UpdateItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/SearchItems" message="tns:IItemService_SearchItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/SearchItemsResponse" message="tns:IItemService_SearchItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetItemById" message="tns:IItemService_GetItemById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetItemByIdResponse" message="tns:IItemService_GetItemById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllCategories" message="tns:IItemService_GetAllCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllCategoriesResponse" message="tns:IItemService_GetAllCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveItemsByCategory">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllActiveItemsByCategory" message="tns:IItemService_GetAllActiveItemsByCategory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllActiveItemsByCategoryResponse" message="tns:IItemService_GetAllActiveItemsByCategory_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllItems" message="tns:IItemService_GetAllItems_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllItemsResponse" message="tns:IItemService_GetAllItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllBidsByItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IItemService/GetAllBidsByItem" message="tns:IItemService_GetAllBidsByItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IItemService/GetAllBidsByItemResponse" message="tns:IItemService_GetAllBidsByItem_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IItemService" type="tns:IItemService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/CreateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/DeleteItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/UpdateItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItems">
      <soap:operation soapAction="http://tempuri.org/IItemService/SearchItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetItemById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveItemsByCategory">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllActiveItemsByCategory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBidsByItem">
      <soap:operation soapAction="http://tempuri.org/IItemService/GetAllBidsByItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IItemService" type="tns:IItemService">
    <wsp:PolicyReference URI="#NetTcpBinding_IItemService_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="CreateItem">
      <soap12:operation soapAction="http://tempuri.org/IItemService/CreateItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap12:operation soapAction="http://tempuri.org/IItemService/DeleteItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateItem">
      <soap12:operation soapAction="http://tempuri.org/IItemService/UpdateItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchItems">
      <soap12:operation soapAction="http://tempuri.org/IItemService/SearchItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetItemById">
      <soap12:operation soapAction="http://tempuri.org/IItemService/GetItemById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCategories">
      <soap12:operation soapAction="http://tempuri.org/IItemService/GetAllCategories" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllActiveItemsByCategory">
      <soap12:operation soapAction="http://tempuri.org/IItemService/GetAllActiveItemsByCategory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllItems">
      <soap12:operation soapAction="http://tempuri.org/IItemService/GetAllItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllBidsByItem">
      <soap12:operation soapAction="http://tempuri.org/IItemService/GetAllBidsByItem" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemService">
    <wsdl:port name="BasicHttpBinding_IItemService" binding="tns:BasicHttpBinding_IItemService">
      <soap:address location="http://localhost:8020/Item" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IItemService" binding="tns:NetTcpBinding_IItemService">
      <soap12:address location="net.tcp://localhost:8030/Item" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8030/Item</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>DESKTOP-ELSJ1KV\Tollo</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>